.div1 {
    height: 100%;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(37, 35, 36);
  }
  
  .card1 {
    margin-top: 5%;
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding-top: 20px;
    opacity: 80%;
  }
  