<p style="margin: 0 0 0px">
  <mat-toolbar style="background-color: #be133e">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      routerLink=""
    >
      <mat-icon>attach_money</mat-icon>
    </button>
    <span>UniCredit Bank</span>

    <span class="example-spacer"></span>

    <button mat-button routerLink="registration">Merchant Registration</button>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<router-outlet color></router-outlet>
